backend/node_modules/
backend/.env
frontend/build/
frontend/*.user
build-frontend-Desktop_Qt_6_4_2_MinGW_64_bit-Debug/
frontend/lib/DLLSerialPort/build/*.qtc_clangd
frontend/lib/DLLRestApi/build/*.qtc_clangd
frontend/lib/DLLPinCode/build/*.qtc_clangd
